*{
  margin: 0;
  padding: 0;
  border:  0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

.Container{
  width: 100%;
  font-size: 0.9rem;
  border: 3px solid;
  padding: 3rem;
  display: grid;
  height: 100vh;
  row-gap: 0rem;
  column-gap: 0rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.firstbatch{
  border: 5px solid;
  display: grid;
  width: 66em;
  gap: 0rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.subbatchOne{
  border: 1px solid red;
  display: flex;
  gap: 1rem;
}

.subbatchTwo{
  border: 1px solid red;
  display: flex;
  gap: 1rem;
}

.block1{
  border: 2px solid;
  border-radius: 1rem;
  width: 42em;
  height: 20em;
  padding: 0.4rem 0.4rem;
}

.block2{
  border: 2px solid;   
  border-radius: 1rem;
  width: 20em;
  height: 20em;
}

.block3{
  border: 1px solid;
  border-radius: 1rem;
  width: 20em;
}

.block4{
  border: 2px solid;
  border-radius: 1rem;
  width: 20em;
  height: 18em;
}

.block5{
  border: 2px solid;  
  border-radius: 1rem;
  width: 43em;
  height: 18em;
}


article div{
  border-radius: 1rem;
}

 img{
   border-radius: 50%;   
}

.header{
  display: flex;
  gap: 1rem;
}



/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600 */






